/*universal element style */
* {
    margin: auto;
}

/* single elements styling*/
body {
    font-family:monospace,Arial, Helvetica, sans-serif;
    
    background:linear-gradient( #EE7752, #e73c7e,#23A6D5, #23D5AB);
    
}
h2 {
    text-align:center;
    margin-top:20px;
}
p{
    color:black;
    text-align:left;
    font-family:monospace,Arial, Helvetica, sans-serif;
    font-weight:lighter;
    font-size: 18px;
    line-height: 2.0;
    margin: 20px 40px;
}

/*header fixed position and nav bar*/
header h1 {
    font-family: monospace,Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: black;
    margin-left: 200px;
    display: inline;
    position: fixed;
    top:0;
    left: 0;
}

header nav {
    float: right;
    margin: 4px 0;
    position: fixed;
    top:0;
    right: 0;  
  }
  nav ul li{
    list-style: none;
    margin: 20px;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    color: black;
    border: 3px solid black;
    border-radius: 50%;

}

nav ul li a {
    color: black;
    cursor: grab;
}


/*end of header section and nav icons styling*/



  /*side bar navbar*/
  .sidenav {
    font-family: monospace,Arial, Helvetica, sans-serif;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
  }

  .sidenav ul li a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  /* styling of personal img*/
  #figcaption {
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 20px;
}
img {
    position: relative;
    display: block;
    padding: 5px;
    border: 5px solid black;
    margin: 40px auto;
  
}

/* main content section*/
  .main {
    margin-left: 160px;
    font-size: 28px;
    padding: 0px 10px;
  }
  
.content {
    margin: auto;
    border: 10px solid black;
}

/*portfolio section and portfolio img styling*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 50%;
    padding: 0 4px;
    margin: 30px;
  }
  
.column a img {
    display:inline-flex;
    flex-wrap:wrap;
    padding: 5px;
    justify-content: flex-end;
    height: 300px;
    width: 300px;
  }


/*form contact me section*/
.container {
    color: black;
    border-radius: 5px;
    Background-color:white;
    width: 50%;
    Margin-top:50px;
    margin-bottom:50px;
    margin-left: 300px;
    padding:20px;
    text-align:center;
    display: relative;
    
}
input [type=text] , textarea {
    width: 50px 200px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top:6px;
    margin: bottom 16px;
    resize:vertical;
}


section form button:hover {
    background-color: gray;
}

/*footer styling*/
footer{
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight:bold;
}

/*pseudo class*/

nav ul li:hover {
    color: yellow;
    border: 5px solid yellow;
}

.column img:hover {
    width: 400px;
    height:400px;
    cursor:grab;
}

section form button:hover {
    background-color: gray;
}

/*media queries for background*/

@media screen and (max-width:980px) {
    body {
    background:#282828;
    color: teal;
    font-size:smaller;
    background-size: 500% 500%;
    }

    header h1 {
        display: none;
    }
    
    .sidenav {
       position: static;
       min-height: 200px;
       height:auto;
       width:100%;
      }
    .container {
          margin: auto;
      }  
    nav ul li a {
        color: white;
    }

}
@media screen and (min-width:320px){
    body {
    background:( #EE7752, #e73c7e,#23A6D5, #23D5AB);
    background-attachment: scroll;
    background-size: 500% 500%;
    }
}